body{
    background-color: #000000;
    color:  #FF7300;

}
#dropdownMenuLink{
 background-color: #000000;  
color: #e5e5e5;
border-color: #000000;
font-family: 'Times New Roman', Times, serif;
font-size:25px;

}

#nav2{
   background-color: #000000;
   color: #FF7300;
}
#gri1{
   display:ruby;
}
#home{
   color: white;
   margin-left: 30px;
   font-family: 'Times New Roman', Times, serif;
   font-size: large;
}
.nav{
   background-color: #000000;
   
   
}
.col{
   /* display:grid; */
   margin-top: 70px;
   color: white;
}

.container-fluid{
   
   margin-top: 0%;
}
#search1{
   margin-right: 200px;
}
#GALLERY{
   margin-right: 200px;
   font-family: 'Times New Roman', Times, serif;
   font-size:x-large;
   font-style: italic;
   color: white;
}
#search2{
background-color: #FF7300;
color: white;
border-color: #000000;
}
#nav{

   padding: 0%;
}
.but{
margin-left: 330px;
margin-top: 100px;
}
#newbut{
   margin-top: 100px;
}
.content{

   margin-left: 50px;
}


.input-group{
   /* margin-left: 100px; */
margin-left: 300px;
size: 10px;
width: auto;
}
#divContent{

margin-left: 50px;
margin-top: 20px;

}
#carrd{
   margin-left: 33px;
   display: grid;

}
.card{
margin-top: 130px;
margin-left: 40px;
   height: auto;
   width: 450px;
   background-color: black; 
   color: white;
   font-family: 'Times New Roman', Times, serif;
   
   font-size: larger;
   border-radius: 50px;
} 
#newbut{
   margin-top: 100px;
   color: white;
   background-color: #FF7300;
   border-color: #FF7300;
}
#car{
width: 449px; 
height: 300px;
margin-top: 5px;
border-radius: 20px;  
}

#buttonA{

   margin-top: 100px;
   margin-left: 340px;
}
.buttonA{

   margin-top: 50px;
   margin-left: 340px;
}
.dropdown-item{
   background-color: #000000;
}
.formm{
   margin-top: 30px;
   color: aliceblue;
}
.subb{
   color: white;
   background-color: #FF7300;
   background-color: #FF7300;
   border-radius: 10px;
}
#ADDCAR{
   background-color:#FF7300;
   border-color: #FF7300;
}
#buttonC{
margin-top:85px;
margin-left: 340px;

}
#footer{
   background-color: #FF7300;
position:fixed;
}
#buttonB{
   margin-top: 100px;
   margin-left: 340px;
}

.login-container{
   margin-left: 400px;
   
}
.login-container :hover{
   color: blue;
}
.modalcolor{
   background: red;
}


.dropdown{
   margin-left: -50px;
   background-color: #000000;
   color: white;
} 
.fa{
   margin-left:500px;
}


#pic{
   width: 4000px;
   height: 500px;
   margin-top: 50px;
   margin-left: 500px;
}

#carrr{
   width: 380px;
   height: 350px;
}

#car{
   height: 300px;
   width: 100%;
   margin-top: 0%;
   border-radius: 50px;
}

#loginn{
   margin-left: 600px;
}
.card:hover{
   box-shadow: 1px 1px 10px 0 rgba(0,0,0,.1);
}

.card {
   display: inline-block;
   vertical-align: middle;
   -webkit-transform: perspective(1px) translateZ(0);
   transform: perspective(1px) translateZ(0);
   box-shadow: 0 0 1px rgba(0, 0, 0, 0);
   -webkit-transition-duration: 0.3s;
   transition-duration: 0.3s;
   -webkit-transition-property: transform;
   transition-property: transform;
   margin: 10px;
 }
 .card:hover, .card:focus, .card:active {
   -webkit-transform: scale(1.05);
   transform: scale(1.05);
 }


 #basket{
   margin-top: 100px;

   width: 50px;
   background-color:white;
   border-radius:10px;
   color: black;
 }
 .sub-menu-link span {
   font-size: 22px;
   transition: transform 0.5s ease;
}

.sub-menu-link span:hover {
   transform: translateX(5px);
}
 #buttonD{
   margin-top: 75px;
   margin-left: 330px;
 }

 @media  screen and (min-width:1024px) {
   


 }



 @media  screen and (min-width:767px) and (max-width:1023px) {
   
   body{
       background-color:gray; 
      margin: 0%;
      padding: 0;
  }
  
  .container-fluid{
  
      margin-top: 0%;
      
  }
  
  #nav{
  
      padding: 0%;
  }
  
  .content{
  
      margin-left: 50px;
  }
  
  
  .input-group{
      /* margin-left: 100px; */

  size: 10px;
  margin-left: 10px;
   width: 299px;
  }
  #divContent{
  
  margin-left: 50px;
  margin-top: 20px;
  
  }
  .card{
  margin-top: 10px;
  margin-left: 50px;
      height: 550px;
      width: 450px;
      /* background-color: ; */
      color: black;
      display:inline-table;
      font-size: larger;
      border-radius: 50px;
  } 
  .navbar-toggler-icon{
   margin-left: 150px;
  }
  
  #car{
   width: 449px; 
   height: 300px;
   margin-top: 5px;
   border-radius: 20px;  
  }
  
  #buttonA{
  
      margin-top: 100px;
      margin-left: 340px;
  }
  .buttonA{
  
      margin-top: 50px;
      margin-left: 340px;
  }
  #buttonC{
  margin-top:85px;
  margin-left: 340px;
  
  }

  }
  #buttonB{
      margin-top: 100px;
      margin-left: 340px;
  }
  
  .login-container{
      margin-left: 400px;
      
  }
  .login-container :hover{
      color: blue;
  }
  .modalcolor{
      background: red;
  }
  
  
   /* .dropdown{
       margin-left: 1px;


  }  */
  .fa{
      margin-left:500px;
  }
  
  
  #pic{
      width: 4000px;
      height: 500px;
      margin-top: 50px;
      margin-left: 500px;
  }
  
  #carrr{
      width: 380px;
      height: 350px;
  }
  
  #car{
      height: 300px;
      width: 100%;
      margin-top: 0%;
      border-radius: 50px;
  }
  
  #loginn{
      margin-left: 600px;
  }
  .card:hover{
      box-shadow: 1px 1px 10px 0 rgba(0,0,0,.1);
  }
  
  .card {
      display: inline-block;
      vertical-align: middle;
      -webkit-transform: perspective(1px) translateZ(0);
      transform: perspective(1px) translateZ(0);
      box-shadow: 0 0 1px rgba(0, 0, 0, 0);
      -webkit-transition-duration: 0.3s;
      transition-duration: 0.3s;
      -webkit-transition-property: transform;
      transition-property: transform;
      margin: 10px;
    }
    .card:hover, .card:focus, .card:active {
      -webkit-transform: scale(1.05);
      transform: scale(1.05);
    }
  
   span{
      color: #FF7300;
   } 
   .but2{
      background-color: #FF7300;
      color: white;
      height: 40px;
      width: 70px;
      margin-top: 5px;
      font-family: 'Times New Roman', Times, serif;
      font-size: 18px;
      border-radius: 5px;
      border-color:#FF7300;

   }
   #logout2{
      color: #e5e5e5;
   }
    #basket{
      margin-top: 100px;
  
      width: 50px;
      background-color:white;
      border-radius:10px;
      color: black;
    }
  
    #buttonD{
      margin-top: 75px;
      margin-left: 330px;
    }





 .sub-menu-wrap{
   position: absolute;
   top: 100%;
   right: 10%;
   width: 320px;
   max-height: 0px;
   overflow: hidden;
   transition: transform .5s;
 }
 .sub-menu-wrap.open-menu{
   max-height: 400px;
   
 }


 .sub-menu{
   background: #fff;
   padding: 20px;
   margin: 10px;
 }
 .user-info{
   display: flex;
   align-items: center;
 }
 .user-info h2{
   font-weight: 500;
 }

.user-info img{
   width: 60px;
   border-radius: 50%;
   margin-right: 15px;

}

.sub-menu hr{
   border: 0;
   height: 1px;
   width: 100%;
   background: #ccc;
   margin: 15px 0 10px;
}

.sub-menu-link{
   display: flex;
   align-items: center;
   text-decoration: none;
   color: #525252;
   margin: 12px 0;
}
.sub-menu-link p{
 width: 100%;

}
.sub-menu-link:hover p{
font-weight: 600;

}
.sub-menu-link img{
   width: 40px;
   background: #e5e5e5;
   border-radius: 50%;
   padding: 8px;
   margin-right: 15px;
}
.sub-menu-link span{

   font-size: 22px;
   transition: transform 0.5s;
}
.sub-menu-link span:hover{
   transform: translateX(5px);
}
/* Mobile (Phones)
@media screen and (max-width: 768px) {
   .hero h1 {
       font-size: 2rem;
   }

   .features {
       grid-template-columns: 1fr;
       width: 90%;
   }

   nav ul {
       flex-direction: column;
       align-items: center;
   }

   nav ul li {
       margin: 10px 0;
   }
}

@media only screen and (max-width:800px) {
   /* For tablets: */
   /* #home,#nav2,#gri1,#logout2,body{
     width: 80%;
     padding: 0;
   }
   .right {
     width: 100%;
   }
 }
 @media only screen and (max-width:500px) {
   /* For mobile phones: */
   /* .menu, .main, .right {
     width: 100%;
   } */ 







