{% extends 'base.html' %}
{% load static %}
{% block contant %}
<link rel="stylesheet" href="{% static 'css/detaled.css' %}"> 

<div class="container">
    <p><strong>Car Model : </strong> <span> {{ car.CarModel }}</span></p>
    <!-- Check if image exists before rendering -->
    {% if car.image %}
        <img id="img1"  src="{{ car.image.url }}" alt="{{ car.CarModel }}">
    {% else %}
    <img id="car" src="{% static 'default-image.png' %}" alt="No Image Available">
    {% endif %}
    <p><strong>Year : </strong> <span> {{ car.dateOfIndustry }}</span></p>
    <p><strong>Engine : </strong> <span>{{ car.Engine }}</span></p>

    <p><strong>gearBox : </strong><span> {{ car.gearBox }}</span></p>
    <p><strong>Wheel : </strong> <span>{{ car.Wheel }} </span></p>
    <p><strong>price : </strong> <span>{{ car.price }} </span></p>




    <!-- Add more car details here -->
    <a href="{% url 'home' %}" id="Back" class="btn btn-secondary">Back to Cars</a>  <!-- Adjust 'home' to your main page URL -->
</div>
{% endblock %}
