{%extends "base.html"%} 
{% block title%}
{% load static %}

<title> home </title>

{%endblock%} 




{% block contant %}
<link rel="stylesheet" href="{% static 'css/home.css' %}"> 

{% for i in cars %}
<div class="row row-cols-3">
  <div class = "col">

    <div class="card" >
        <img  id="car" src="{{ i.image.url }}" alt="">
        <div class="card-body">
          <h5 class="card-title">{{i.CarModel}}</h5>
          <p class="card-text">{{i.dateOfIndustry}}</p>
         <!-- <div><a onclick="savecart(0)"><i class="fas fa-shopping-cart" id="basket"></i> 
           </a></div> -->
          <a href="id6.html"  id="buttonC" class="btn btn-primary">details</a>

        </div> 
      </div>
    </div>
{% endfor %}





     <!--  START FOOTER -->

    <footer id="footerA" class="text-center bg-body-tertiary">
        <!-- Grid container -->
        <div class="container pt-4">
          <!-- Section: Social media -->
          <section class="mb-4">
            <!-- Facebook -->
            <a
              class="btn btn-link btn-floating btn-lg text-body m-1"
              href="https://www.facebook.com/maen.malkawi.90?mibextid=LQQJ4d
              "
              role="button"
              data-mdb-ripple-color="dark"
              ><i class="fab fa-facebook-f"></i
            ></a>
      
            
      
            <!-- Instagram -->
            <a
               
              class="btn btn-link btn-floating btn-lg text-body m-1"
              href="https://www.instagram.com/maen._malkawi?igsh=MXhjbHA3cDFoNXR0Yg%3D%3D&utm_source=qr"
              role="button"
              data-mdb-ripple-color="dark"
              ><i class="fab fa-instagram"></i
            ></a>
      
            <!-- Linkedin -->
            <a
               
              class="btn btn-link btn-floating btn-lg text-body m-1"
              href="https://www.linkedin.com/in/maen-malkawi-099347278/"
              role="button"
              data-mdb-ripple-color="dark"
              ><i class="fab fa-linkedin"></i
            ></a>
            <!-- Github -->
            <a
               
              class="btn btn-link btn-floating btn-lg text-body m-1"
              href="https://github.com/maenmalkawi?tab=repositories"
              role="button"
              data-mdb-ripple-color="dark"
              ><i class="fab fa-github"></i
            ></a>
          </section>
          <!-- Section: Social media -->
        </div>
        <!-- Grid container -->
      
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
          © 2024 Copyright:
          <a class="text-body">maen malkawi</a>
        </div>
        <!-- Copyright -->
      </footer>


<!-- END FOOTER -->




<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<!-- MDB -->
<script
type="text/javascript"
src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.1.0/mdb.umd.min.js"
></script>

<script>
var subMenu = document.getElementById("subMenu");

function toggleMenu(){
subMenu.classList.toggle("sub-menu");
}
</script>  
{%endblock%} 


