{%extends "base.html"%} 
{% load static %}

{% block title%}
<title> welcome to manager page </title>
{%endblock%} 

{% block contant %}
<link rel="stylesheet" href="{% static 'css/home.css' %}"> 

<div id="gri1" class="container">
  <div class="row row-cols-3">
    <div class="col">
      <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="https://images.pexels.com/photos/164634/pexels-photo-164634.jpeg?cs=srgb&dl=pexels-pixabay-164634.jpg&fm=jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">add car</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a id="ADDCAR" href="{% url 'addcars' %}" class="btn btn-primary">add car</a>
      </div>
    </div>    
    <div class="container">
      <div class="row row-cols-3">
        <div class="col">
          <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="{% static 'img/images12.png' %}" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">add car</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a id="ADDCAR" href="{% url 'addnews' %}" class="btn btn-primary">add news</a>
          </div>
        </div>

       
  
  </div>

    
  

    </div>
  </div>
 {% endblock %}

