<!DOCTYPE html>

<html>
    <head>
        {% load bootstrap5 %}
        {% bootstrap_css %}
        {% bootstrap_javascript %}

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>login</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <h1> welcome to login page</h1>
        {% if form.errors %}
           <p style="color:red"> your password  or username didn't match. please try again</p>
        {% endif %}
        {% comment %} <form method="POST" action="{% url 'login' %}">
            {% csrf_token %}
            <table>
                <tr> 
                    <td>{{form.username.label_tag}} </td>    
                    <td>{{form.username}} </td>    
                </tr>
                <tr> 
                    <td>{{form.password.label_tag}} </td>    
                    <td>{{form.password}} </td>        
                </tr>
                <tr> 
                    <td><input type="submit" value="login"></td>    
                     
                </tr>



            </table>
        </form> {% endcomment %}

        <!-- Section: Design Block -->
<section class="text-center">
    <!-- Background image -->
    <div class="p-5 bg-image" style="
          background-image: url('https://mdbootstrap.com/img/new/textures/full/171.jpg');
          height: 300px;
          "></div>
    <!-- Background image -->
  
    <div class="card mx-4 mx-md-5 shadow-5-strong bg-body-tertiary" style="
          margin-top: -100px;
          backdrop-filter: blur(30px);
          ">
      <div class="card-body py-5 px-md-5">
  
        <div class="row d-flex justify-content-center">
          <div class="col-lg-8">
            <h2 class="fw-bold mb-5">Sign up now</h2>
            <form  method="POST" action="{% url 'login' %}">
                {% csrf_token %}
              <!-- 2 column grid layout with text inputs for the first and last names -->
              <div class="row">
                <div class="col-md-6 mb-4">
                  <div data-mdb-input-init class="form-outline">
                    <input name="username" type="text" id="form3Example1" class="form-control" />
                    <label class="form-label" for="form3Example1">user name</label>
                  </div>
                </div>
              </div>
  
              <!-- Password input -->
              <div data-mdb-input-init class="form-outline mb-4">
                <input name="password" type="password" id="form3Example4" class="form-control" />
                <label class="form-label" for="form3Example4">Password</label>
              </div>
  
              <!-- Submit button -->
              <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-block mb-4">
                login
              </button>
  
             
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Section: Design Block -->
        <script src="" async defer></script>
    </body>
</html>